/* --------------------------------- Common CSS Start --------------------------------- */
* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 2;
    color: #22223B;
}

ol, ul {
    list-style: none;
}

a {
    text-decoration: none;
}

p {
    margin-bottom: 0;
}

.section_heading {
    font-size: 35px;
    font-weight: 800;
    color: #22223B;
}

.orange_text {
    color: #ED5A14;
}

.center_text {
    text-align: center;
}

.date {
    margin-bottom: 30px;
}

.mb-100 {
    margin-bottom: 100px;
}

.mb-65 {
    margin-bottom: 65px;
}

.mb-50 {
    margin-bottom: 50px;
}

.regular_btn {
    padding: 10px 20px;
    color: #fff;
    background-color: #22223B;
    margin-top: 30px;
    border-radius: 6px;
    transition: all linear .2s;
}

.regular_btn:hover {
    color: #fff;
    background-color: #ED5A14;
}
/* --------------------------------- Common CSS End --------------------------------- */

/* --------------------------------- Nav Start --------------------------------- */
.navbar {
    padding-top: 0;
    padding-bottom: 0;
    background-color: #fff;
} 

nav .navbar-brand img {
    width: 32px;
    height: 32px;
    padding: 0;
    font-size: none;
}

nav .navbar-brand {
    padding: 0;
    font-size: 15px;
}

nav .navbar-nav li a {
    font-size: 16px;
    text-transform: uppercase;
    color: #272C48;
    padding: 30px 0 30px 60px !important;
    transition: all linear .2s;
}

nav .navbar-nav li a:hover {
    color: #ED5A14;
}

.scrolled {
    -webkit-box-shadow: 0px 2px 14px 0px rgba(0,0,0,0.20);
    -moz-box-shadow: 0px 2px 14px 0px rgba(0,0,0,0.20);
    box-shadow: 0px 2px 14px 0px rgba(0,0,0,0.20);
    transition: all .3s ease-in-out;
}
/* --------------------------------- Nav End --------------------------------- */

/* --------------------------------- Banner start --------------------------------- */
#banner {
    background: rgb(242,242,242);
    background: -moz-linear-gradient(0deg, rgba(242,242,242,1) 0%, rgba(255,255,255,1) 100%);
    background: -webkit-linear-gradient(0deg, rgba(242,242,242,1) 0%, rgba(255,255,255,1) 100%);
    background: linear-gradient(0deg, rgba(242,242,242,1) 0%, rgba(255,255,255,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#f2f2f2",endColorstr="#ffffff",GradientType=1);
}

.banner_box {
    display: flex;
    height: calc(100vh - 94px);
    width: 100%;
}

.banner_text_box {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.banner_heading {
    font-size: 49px;
    font-weight: 800;
    margin-bottom: 50px;
}

.banner_img_box {
    width: 50%;
    position: relative;
}

.banner_img_box .banner_img_background {
    position: absolute;
    bottom: 0;
    right: 0;
    height: 87%;
    transition: right 1s;
}

.banner_img_box .banner_img_main {
    position: absolute;
    bottom: 0;
    right: 80px;
    height: 85%;
    transition: right 1s;
}

.banner_img_box:hover .banner_img_background {
    right: 50px;
}

.banner_img_box:hover .banner_img_main {
    right: 65px;
}

.banner_social {
    display: flex;
    padding-bottom: 80px;
}

.banner_social .icons i {
    height: 37px;
    width: 37px;
    font-size: 20px;
    background-color: #fff;
    color: #4A4E69;
    border-radius: 50%;
    text-align: center;
    line-height: 1.8;
    margin-right: 30px;
    transition: all linear .3s;
}

.banner_social .icons .whatsapp {
    font-size: 25px;
    line-height: 1.5;
}

.banner_social .icons .phone {
    font-size: 18px;
    line-height: 2;
}

.banner_social .icons i:hover {
    color: #ED5A14;
}

/* --------------------------------- Banner End --------------------------------- */


/* --------------------------------- Who am i start --------------------------------- */
#who_am_i {
    margin-top: 150px;
}

#who_am_i .about_me_text p {
    text-align: center;
}

#who_am_i .about_name p {
    text-align: right;
    font-style: italic;
    margin-top: 43px;
}

/* --------------------------------- Who am i End --------------------------------- */

/* --------------------------------- Education start --------------------------------- */
 
#education {
    margin-top: 200px;
}

.table {
    margin-top: 33px;
}

.table > :not(caption) > * > * {
	padding: 30px 0;
}

#education .table tr td .degree_name {
    font-size: 18px;
    font-weight: 700;
}

#education .table tr td .institution_name {
    margin-top: 15px;
}

#education .table tr .table_text {
    font-size: 18px;
    font-weight: 500;
}
/* --------------------------------- Education End --------------------------------- */

/* --------------------------------- Skill start --------------------------------- */
#skill {
    margin-top: 120px;
}

.skill_img_background {
    height: 530px;
    display: flex;
    align-items: flex-end;
}

.skill_img_box {
    position: relative;
}

.skill_img_bar {
    background-color: #ED5A14;
    border-radius: 38px 38px 6px 6px;
    width: 50%;
}

.bar_1 {
    height: 35%;
    transition: ease-in-out .3s;
}

.bar_2 {
    height: 70%;
    transition: ease-in-out .3s;
}

.skill_main_img {
    position: absolute;
    bottom: 0;
    left: 0;
}

.skill_main_img img {
    display: block;
    width: 100%;
}

.skill_img_box:hover .bar_1 {
    height: 70%;
}

.skill_img_box:hover .bar_2 {
    height: 35%;
}

.skill_details_box {
    margin-top: 100px;
}

.bar .info span {
    font-weight: 500;
}

.bar .progress_line {
    height: 10px;
    width: 100%;
    background-color: rgb(237, 90, 20, .15);
    border-radius: 5px;
    position: relative;
    transform: scaleX(0);
    transform-origin: left;
    animation: animate 1s cubic-bezier(1, 1, 1, 1) forwards;
}

.bar .progress_line span {
    height: 100%;
    border-radius: 5px;
    position: absolute;
    transform: scaleX(0);
    transform-origin: left;
    animation: animate 1s 1s cubic-bezier(1, 1, 1, 1) forwards;
}

@keyframes animate {
    100% {
        transform: scaleX(1);
    }
}

.bar .html span{
    width: 90%;
    background-color: #A8ABC1;
}

.bar .css span{
    width: 80%;
    background-color: #71779F;
} 

.bar .javascript span{
    width: 60%;
    background-color: #333360;
} 

.bar .php span{
    width: 70%;
    background-color: #22223B;
}

/* --------------------------------- Skill end --------------------------------- */

/* --------------------------------- Project start --------------------------------- */
#project {
    margin-top: 200px;
}

.p_box {
    display: flex;
    justify-content: space-between;
}

.p_cart {
    width: 30%;
}

.project_img {
    margin-bottom: 30px;
    width: 100%;
    overflow: hidden;
    border-radius: 12px;
}

.project_img img {
    height: 212px;
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center center;
    transition: all linear .3s;
}

.p_name {
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 25px;
}
/* --------------------------------- Project end --------------------------------- */

/* --------------------------------- Publication start --------------------------------- */
#publication {
    margin-top: 200px;
}


/* --------------------------------- Publication end --------------------------------- */