/* --------------------------------- Common CSS Start --------------------------------- */
* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 2;
    color: #22223B;
}

ol, ul {
    list-style: none;
}

a {
    text-decoration: none;
}

p {
    margin-bottom: 0;
}

.main_box {
    margin: 0 121px;
}

.section_heading {
    font-size: 35px;
    font-weight: 800;
    color: #22223B;
}

.orange_text {
    color: #ED5A14;
}

.mb-100 {
    margin-bottom: 100px;
}
/* --------------------------------- Common CSS End --------------------------------- */

/* --------------------------------- Nav Start --------------------------------- */
.navbar {
    padding-top: 0;
    padding-bottom: 0;
    background-color: #fff;
} 

nav .navbar-brand img {
    width: 32px;
    height: 32px;
    padding: 0;
    font-size: none;
}

nav .navbar-brand {
    padding: 0;
    font-size: 15px;
}

nav .navbar-nav li a {
    font-size: 16px;
    text-transform: uppercase;
    color: #272C48;
    padding: 35px 31px !important;
    transition: all linear .2s;
}

nav .navbar-nav li a:hover {
    color: #ED5A14;
}
/* --------------------------------- Nav End --------------------------------- */

/* --------------------------------- Banner start --------------------------------- */
#banner {
    background: rgb(242,242,242);
    background: -moz-linear-gradient(0deg, rgba(242,242,242,1) 0%, rgba(255,255,255,1) 100%);
    background: -webkit-linear-gradient(0deg, rgba(242,242,242,1) 0%, rgba(255,255,255,1) 100%);
    background: linear-gradient(0deg, rgba(242,242,242,1) 0%, rgba(255,255,255,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#f2f2f2",endColorstr="#ffffff",GradientType=1);
}

.banner_box {
    display: flex;
    height: calc(100vh - 94px);
    width: 100%;
}

.banner_text_box {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.banner_heading {
    font-size: 49px;
    font-weight: 800;
    margin-bottom: 50px;
    margin-top: 150px;
}

.banner_img_box {
    width: 50%;
    position: relative;
}

.banner_img_box .banner_img_background {
    position: absolute;
    bottom: 0;
    right: 0;
    height: 87%;
    transition: right 1s;
}

.banner_img_box .banner_img_main {
    position: absolute;
    bottom: 0;
    right: 80px;
    height: 85%;
    transition: right 1s;
}

.banner_img_box:hover .banner_img_background {
    right: 50px;
}

.banner_img_box:hover .banner_img_main {
    right: 65px;
}

.banner_social {
    display: flex;
}

.banner_social .icons i {
    height: 37px;
    width: 37px;
    font-size: 20px;
    background-color: #fff;
    color: #4A4E69;
    border-radius: 50%;
    text-align: center;
    line-height: 1.8;
    margin-right: 34px;
    transition: all linear .3s;
}

.banner_social .icons i:hover {
    color: #ED5A14;
}

/* --------------------------------- Banner End --------------------------------- */


/* --------------------------------- Who am i start --------------------------------- */
#who_am_i {
    margin-top: 214px;
}

#who_am_i .about_me_text {
    margin: 0 121px;
}

#who_am_i .about_me_text p {
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    font-weight: 400;
    color: #9A8C98;
    line-height: 2;
}

#who_am_i .about_name {
    margin: 0 121px;
}

#who_am_i .about_name p {
    text-align: right;
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    font-style: italic;
    font-weight: 400;
    color: #272C48;
    line-height: 2;
    margin-top: 43px;
}

/* --------------------------------- Who am i End --------------------------------- */

/* --------------------------------- Education start --------------------------------- */
 
#education {
    margin-top: 165px;
}

.table {
    margin-top: 33px;
}

.table > :not(caption) > * > * {
	padding: 30px 0;
}

#education .table tr td .degree_name {
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    font-weight: 700;
    color: #272C48;
}

#education .table tr td .institution_name {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #272C48;
    margin-top: 15px;
}

#education .table tr td .table_text {
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    font-weight: 400;
    color: #272C48;
}
/* --------------------------------- Education End --------------------------------- */